
body{
    /* background: url(../../../assets/cover3.jpg); */
    height:100vh;
    background-size: cover;
    background-position:center;
    z-index: -1; 
}   
.btn-outline-success{
    margin-left: 13px;
        margin-right: 14px;
        padding-left: 0.75rem;
    }
.btn-outline-warning{
    margin-left: 13px;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
}
