<div class="app-container">
  <nav class="navbar">
    <img src="../../../assets/nav2logo.png" alt="Company Logo" class="logo" />
    <button (click)="logout()">Logout</button>
  </nav>

  <div class="main-content">
    <div class="sidebar">
      <ul>
        <li *ngFor="let menu of menus">
          <span (click)="menu.submenu.length ? toggleSubmenu(menu) : navigate(menu)">
            {{ menu.name }}
          </span>
          <ul *ngIf="menu.isOpen">
            <li *ngFor="let submenu of menu.submenu" (click)="navigateSubmenu(submenu)">
              {{ submenu.label }}
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="content">
      <router-outlet></router-outlet> <!-- Child components will render here -->
    </div>
  </div>
</div>